.input-section{
    background-color: #F4F7FC !important;
    height: 585px;
    margin-left: -10px !important;
}
.book-info{
    width: 60%;
    margin-top: 50px;
    height: 420px;
    background-color: white !important;
    border-radius: 10px;
}
.form-section{
    margin: auto;
    width: 60%;
}